body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', arial;
}

.Section_1,
.Header{
    background-color: #1F2937;
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

.Section_1{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;

}

ul{
    list-style-type: none;
}

li{
    display: inline;
    padding: 10px;
}

a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.Logo{
    font-size: 24px;
    color: #f9faf8;
}

.Hero_main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.Hero_secondary{
    font-size: 18px;
    color: #e5e7eb;
}

.Button_1{
    display: block;
    display: flex;
    background-color: #3882f6;
    color: white;
    width: 110px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0px;
}

.Hero_Img{
    width: 400px;
}

img{
    max-width: 100%;
    height: auto;
}

.Left_section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
}

.Info_header{
    display: flex;
    justify-content: center;
    padding: 32px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.Info_text{
    padding: 32px;
    display: flex;
    justify-content: center;
}

.Info{
    padding: 16px;
    margin: 8px;
    width: 250px;
    text-align: center;
}

.Section_3{
    background-color: #e5e7eb;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    text-align: center;
}

.Signature{
    text-align: center;
}

.Section_4{
    margin: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.cta{
    color: white;
    font-size: 16px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #3882f6;
    height: 150px;
}

.Button_2{
    display: block;
    display: flex;
    color: white;
    border: 1px solid white;
    width: 110px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 100px;
}

.left{
    padding: 150px;
}