body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.Section_1,
.Header{
    background-color: #1F2937;
    padding: 50px;
}

.Header{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    padding: 10px;
}

a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.Logo{
    font-size: 24px;
    color: #f9faf8;
}

.Hero_main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.Hero_secondary{
    font-size: 18px;
    color: #e5e7eb;
}